name: pull_lirik_plays_youtube_api_daily

on:
  schedule:
    - cron:  '0 16 * * *'
  workflow_dispatch:

permissions:
  contents:
    write

env:
  KEY_FILE_PATH: ./youtube/key.json
  CHANNEL_ID: UCebh6Np0l-DT9LXHrXbmopg
  CHANNEL_FOLDER_NAME: lirik_plays
  GIT_SSH_SIGN_KEY_PATH: ./ssh_sign_key

jobs:
  build:
    if: $ {{ github.event.pull_request.merged == true }}
    name: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.WRITE_YOUTUBE_API_DATA }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - name: install uv
        uses: astral-sh/setup-uv@v5

      - name: install uv project dependencies
        run: |
          uv sync --locked --all-extras --dev

      - name: retrieve API credential
        run: |
          echo ${{ secrets.YOUTUBE_API_CREDENTIAL }} | base64 -d > "$KEY_FILE_PATH"

      - name: stage - get data
        run: |
          uv run "main.py" \
            --key_file_path "$KEY_FILE_PATH" \
            --channel_id $CHANNEL_ID \
            --channel_folder_name $CHANNEL_FOLDER_NAME

          GIT_STATUS=$(git status --porcelain)
          echo $GIT_STATUS

      - name: setup git ssh key sign
        run: |
          echo "${{ secrets.GIT_SSH_SIGN_KEY }}" > "$GIT_SSH_SIGN_KEY_PATH"
          chmod 600 "$GIT_SSH_SIGN_KEY_PATH"
          git config --global gpg.format ssh
          git config --global user.signingkey "$GIT_SSH_SIGN_KEY_PATH"
          git config --global commit.gpgsign true
          git config --global user.email jjlx789@gmail.com
          git config --global user.name coffee-operator

      - name: commit
        run: |
          git add --all
          git commit -m "updating latest data" || exit 0

      - name: pull & push
        run: |
          git pull
          git push
